{{define "head"}}
<html>
<head>
    <title>123</title>
    <meta http-equiv="Content-Type" id="meta_ContentType" content="text/html;charset=UTF-8" />
    <link rel="shortcut icon" href="/public/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/public/static/css/base.css?v=0.1">
    <link rel="stylesheet" href="/public/static/css/mobile.css?v=0.2">
    <link rel="stylesheet" href="/public/static/css/element.css">
    <link rel="stylesheet" href="/public/static/editor.md/css/editormd.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/public/static/js/jquery-3.3.1.min.js"></script>
</head>
<body>
<nav>
    <div class="loadlink"></div>
    <div class="logo">OwO <i class="fa fa-pencil"></i> blog</div>
    <div class="menu">
        <ul>
            <a href="/index"><li>主页</li></a>
            <a href="/note"><li>笔记</li></a>
            <a href="/download"><li>下载</li></a>
            <a href="/about"><li>关于</li></a>
            <a href="/sarscov"><li>新冠</li></a>
        </ul>
    </div>
</nav>
{{ end }}