{{template "head" .}}
<main>
    <div class="content">
        <div style="width:100%;min-height: 200px; margin-top: 5px;padding-top: 5px; float: left;position: relative; background: #f3f3f3">
            <h3> cd /new</h3>
            <div class="element-title-diagonal ecolor-ash etype-general"></div><br>
            <div class="info-bar">
                <ul class="subfield">
                    {{ range $i, $v := .articleList }}
                    <a href="/note/detail?id={{ $v.ID }}">
                        <li>
                            <div class="info-bar-content">
                                <div class="title">{{ $v.Title }}</div>
                                <div class="time">{{ $v.CreateTime }}</div>
                            </div>
                        </li>
                    </a>
                    {{ end }}
                </ul>
            </div>
        </div>
        <div style="width:100%;min-height: 200px; margin-top: 5px;padding-top: 5px; float: left;position: relative;background: #f3f3f3">
            <h3> cd /practical</h3>
            <div class="element-title-diagonal ecolor-ash etype-general"></div><br>
        </div>
        <div style="width:100%;min-height: 200px; margin-top: 5px;padding-top: 5px; float: left;position: relative; background: #f3f3f3">
            <h3> cd /model</h3>
            <div class="element-title-diagonal ecolor-ash etype-general"></div><br>
        </div>
    </div>
</main>
{{template "footer" .}}